// loading custom
.backdrop-loader{
    display         : none;
    position        : absolute;
    height          : 100% ;
    width           : 100%;
    background-color: #cecece6b;
    top             : 0;
    right           : 0;
    left            : 0;
    bottom          : 0;
    z-index         : 99999;
    .mess-loader{
        position       : absolute;
        top            : 0;
        width          : 100%;
        height         : 100%;
        display        : flex;
        align-items    : center;    /** Y-axis align **/
        justify-content: center;    /** X-axis align **/
        span {
            background-color: #eaeaea85 ;
            border-radius   : 5px;
            padding         : 8px;
            font-weight     : 500;
        }
    }
}