button{
	padding: 0.4rem 1rem;
	border-radius: 5px !important;
	border-width: 1px;
}
body{
	padding: 2rem;
}
.selected{
	background-color: rgba(0, 255, 0, 0.2) !important;
}
.title-app{
	text-align: center;
}
.btn-add{
	background-color: #14c7ac;
	color: white;
}
.btn-back{
	background-color: #1372bf;
	color: white;
    height: fit-content;
}
.btn-save{
	background-color: #14c7ac;
	color: white;
    height: fit-content;
}
.btn-delete{
	background-color: red;
	color: white;
    height: fit-content;
}
.label-form-container{
	max-width: 350px;
	width: 40%;
	text-align: right;
	padding-right: 1rem;
	color: gray;
	font-size: 1.1rem;
	font-weight: bold;
}
.input-form-container{
	width: 100%;
	max-width: 700px;
}
.input-form-container p{
	color: gray;
	font-size: 1.1rem;
}
.input-form-container input{
	width: 100%;
	font-size: 1.1rem;
	padding: 0.3rem 0.7rem;
}
.input-radio-form-container{
	width: 100%;
	max-width: 700px;
	color: red;
	font-weight: bold;
	font-size: 1.1rem;
}
.input-radio-form-container p{
	padding-left: 0.5rem;
}
.input-radio-form-container input{
	margin-top: 0.4rem;
}